@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;600;700;900&family=Yeseva+One&display=swap');

body{
    margin: 0;
    font-family: 'Poppins';
}

p{
    font-size: 15px;
    text-align: justify;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width:40%;
    float: left;
    margin-left:8%;
    padding-left: 2%;
}

.top-section{
    margin-top: 8%;
}

hr.vertical {
    border: 0;
    margin-top: 60px;
    border-left: 5px solid #ef476f;
    height: 120px;
    float: left;
    border-radius: 5px;
}

.half-width h1{
    font-family: 'Yeseva One';
    font-size: 60px;
    margin-left: 4%;
    font-weight: 100;
}

.yellow-text{
    color: #ffba08;
}

#header-yellow{
    margin-top:-8%;
}

.half-width p{
    font-family: 'Poppins';
    text-align: justify;
}

.half-width img{
    width: 85%;
}

#top-img{
    margin-top: -25%;
    margin-left: -10%;
}

.link-btn{
    text-decoration: none;
    font-family: 'Poppins';
    background-color: #d62828;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}

#scroll{
    margin-top: 6%;
}

.mission{
    float: center;
    width: 100%;
    text-align: center;
}

.mission h1{
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: 700;
}

.mission-items{
    margin: 20px;
    width: 20%;
    display: inline-block;
    text-align: left;
    border-radius: 10px;
    padding: 25px;
}

.mission-items img{
    width: 50%;
}

.mission-items h3{
    margin-top: 5px;
    font-family: 'Poppins';
    font-weight: 600;
}

#mission-one{
    background-color: rgba(79, 157, 166, 0.1);
}

#mission-two{
    background-color: rgba(255, 89, 89, 0.1);
}

#mission-three{
    background-color: rgb(255, 244, 214);
}

.third-section{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 7% 50%;
    background-size: 15%;
    padding: auto;
}

#third-image{
    width: 80%;
    margin-left: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#section-three-text{
    margin: 6% auto 13% -5%;
}

.fourth-section{
    margin-top: -10%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 91% 97%;
    background-size: 10%;
    padding: auto
}

#fourth-image{
    width: 80%;
    margin-left: -10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#section-four-text{
    margin: auto -1% auto auto;
}

.fifth-section{
    margin-top: -5%;
    background-image: url(images/shapes/shape-3.png), url(images/shapes/shape-3.png), url(images/shapes/shape-3.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 10%, 5%, 5%;
    background-position: 12% 10%, 40% 75%, 13% 97%;
}

.fifth-section h1{
    font-size: 48px;
    text-align: center;
}

.fifth-section h2{
    font-weight: bold;
    font-size: 48px;
}

#fifth-image{
    width: 70%;
    margin-left: 10%;
}

#section-five-text{
    margin: auto auto 13% -5%;
}

.footer{
    background-color: black;
    text-align: center;
    margin-bottom: -10px;
}

.footer h2{
    padding-top: 2%;
    font-family: Lobster;
    color: white;
    font-weight: 200;
}

.red-text{
    color: #ff5959;
}

.footer p{
    padding-bottom: 2%;
    color: white;
    font-size: 10px;
    text-align:center;
}